@import url('https://fonts.googleapis.com/css?family=Amiri|Philosopher');

body {
  font-size:12px;
}

.w3-black, .w3-hover-black:hover {
  background-color: rgb(255,255,255)!important;
     
}
.logo {
  float:left;
  padding-right: 30px;
  margin-left: 30px;
}


.w3-bar .w3-bar-item {
  padding: 4px 14px;
  float: left;
  background-color: inherit;
  color: #8f8c8c!important;
  font-weight: 400;
  width: auto;
  border: none;
  outline: none;
  display: block;
}
.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
  background-color: rgb(255,246,247)!important;
  
}

.branding{
  font-size:15px;
}

.showcase{
  background:url('../img/showcase.jpg') no-repeat;
  background-position:center;
  height: 751px;
  padding:240px 0 0;
  color:#fff;
  box-shadow: 0 0 30px black;
}

.showcase h1{
  font-size:5em;
  font-family: 'Philosopher', sans-serif;
  font-weight:700;
  text-transform: uppercase;
  color:#F9F4F4;
  text-shadow: 2px 2px 4px #000000;
  
}

.showcase hr{
  width:100px;
  margin:auto;
  border-width:3px;
  border-color:#F4F7F8;
}

.showcase p{
  font-size:15px;
  padding-bottom:20px;  
}

.w3-red, .w3-hover-red:hover {
 background-color:  #039eb4;
 color: #ffffff;
 
 
}
.w3-opacity, .w3-hover-opacity:hover {
  opacity: 0.90;
  -webkit-backface-visibility: hidden;  
}

.w3-button w3-red w3-large w3-opacity{
  background-color: #039eb4;
}
h4 {
  color:#039eb4;
}
.footerArea {
  background-color:rgb(40,42,43)!important;
  text-align: center!important;
  color: #8f8c8c;
  padding: 24px;
  font-size: 12px;
  
}

li {
  color: #8f8c8c;
}

.section{
  padding:40px 0;
}

.section h2{
  padding:0;
  margin:0;
  color: #000000;
  font-family: 'Philosopher', sans-serif;
  text-shadow: 2px 2px 4px #000000;
}
h3 {
  font-family: 'Philosopher', sans-serif;
}
.section p {
  color: #8f8c8c;
}
.section .fa{
  font-size:50px;
  color: #000000;
}

.section img{
  width:100%;
}
#services {
  background:url('../img/showcase2.jpg') no-repeat;    
  width: 100%;
  padding: 140px 0;
}



@media only screen and (max-width:600px){
  body{
    margin-top:190px;    
  }

  .showcase{
    height:400px;
    padding: 60px 0;
  }
}

.w3-dark-grey, .w3-hover-dark-grey:hover, .w3-dark-gray, .w3-hover-dark-gray:hover {
  
  color: #fff!important;
  background-color: rgb(239,173,173)!important;
}

/*Testimonial Section*/

/* carousel */
#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
  text-align:center;
}
/* indicator position */
#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}
/* indicator color */
#quote-carousel .carousel-indicators li {
  background: #c0c0c0;
}
/* active indicator */
#quote-carousel .carousel-indicators .active {
  background: #333333;
  height:10px;
  width:10px;
  margin-bottom:1px;
}
/* typography */
h1 {
  text-align:center;
  margin-bottom:-20px !important;
}
p {
  font-style:italic;
}




/*Contact section*/
.content-header{
  font-family: 'Oleo Script', cursive;
  color:#fcc500;
  font-size: 45px;
}

.section-content{
  text-align: center; 

}
#contact{
    
  font-family: 'Teko', sans-serif;
  padding-top: 60px;
  width: 100%;
  width: 100vw;
  height: 550px;
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #fff;    
}
.contact-section{
  padding-top: 40px;
}
.contact-section .col-md-6{
  width: 50%;
}

.form-line{
  border-right: 1px solid #B29999;
}

.form-group{
  margin-top: 10px;
}
label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
    height: 135px;
   /* margin-top: px;*/
}

.submit{
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;

}
